astroid==2.8.3
click==8.0.3
colorama==0.4.4
Flask==2.0.2
isort==5.9.3
itsdangerous==2.0.1
Jinja2==3.0.2
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
numpy==1.21.3
opencv-python==4.5.4.58
Pillow==8.4.0
platformdirs==2.4.0
pylint==2.11.1
pyzbar==0.1.8
qrcode==7.3.1
tk==0.1.0
toml==0.10.2
typing-extensions==3.10.0.2
Werkzeug==2.0.2
wrapt==1.13.2
