<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
    </head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
            $(function() {
              $('a#test').on('click', function(e) {
                e.preventDefault()
                $.getJSON('/background_process_test',
                    function(data) {
                  //do nothing
                });
                return false;
              });
            });
    </script>
    <body>
        <center>
            <h1>Login</h1>
            <form method="POST">
                <br><br>
                <input type="email" name="email" placeholder="Email Address">
                <br><br>
                <input type="password" name="password" placeholder="Password">
                <br><br>
                <input type="submit" name="submit">
            </form>
            {% if error %}
                <p class=error><strong>Error:</strong> {{ error }}
            {% endif %}
    </center>
    </body>
</html>